# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Ignore SQLite database files
*.sqlite3

# Ignore logs and runtime files
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Ignore the virtual environment directory entirely
venv/

# Ignore environment variables
.env

# Ignore system & editor files
.DS_Store
Thumbs.db
.vscode/

# Documentation personnelle / Soutenance
EXPLIQUE.md

